body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    /* margin-top: 70px; */
}

h2 {
    text-align: center;
    margin: 40px 0 20px;
    font-weight: 500;
}

/* Título dos eventos */
.event-title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #3F471C;
    margin-bottom: 30px;
}

.event-title span {
    display: inline-block; /* permite que a linha acompanhe o texto */
    position: relative;
    padding-bottom: 5px; /* espaço entre texto e linha */
}

.event-title-line {
    display: block;
    width: 100%; /* mesma largura do texto */
    height: 2px;
    background-color: #6b7b44;
    border-radius: 5px;
    margin-top: 5px; /* espaço entre texto e linha */
}

/* Botão verde */
button.green {
    background-color: #6b7b44;
    color: #fff;
    padding: 10px 20px;
}

/* Footer */
footer {
    background-color: #6b7b44;
    color: #fff;
    margin-top: 40px;
    padding: 40px 20px;
    text-align: left;
    font-size: 14px;
}

footer a {
    color: #fff;
}

footer .footer-columns {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

footer .column {
    flex: 1;
}
